<app-addcrop-component></app-addcrop-component>

<div  
  class="grid grid-cols-2 md:grid-cols-3 items-center justify-between md:flex-row flex-wrap"
>
  <div class="px-4 py-2  cursor-pointer" *ngFor="let item of data"  (click)="CropDetails(item)">
    <div
      class="rounded-2xl overflow-hidden bg-gray-200 h-40 w-30 md:w-full md:h-60"
    >
      <img
        src="https://images.unsplash.com/photo-1560493676-04071c5f467b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWdyaWN1bHR1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
        class="h-full w-full"
      />
    </div>

    <div
      class="text-lg font-medium text-stone-600 cursor-pointer hover:text-stone-400"
    >
      Soyabeen
    </div>
    <p class="italic text-gray-500 font-thin text-sm">
      Planted at : 20/15/2552
    </p>
  </div>
   
 
</div>

 
